/* nav releted style */
.header{
    background-color: #f5f5f5;
    padding: 20px 0;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 100px;
    
}
.nav-tittle{
    color: black;
    font-size: 45px;
    font-weight: 800;

}
span{
    color: #ff0000;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: cadetblue;
    font-size: 30px;
    
}
.button-primary{
    border-radius: 5px;
    background-color:#fD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;


}
.banner{
    padding:30px 30px 30px 100px;
    display: flex;
    align-items: center;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.banner .profile-pic{
    width: 700px;
    height: 600px;
}
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 70px 0;
    border: 2px solid;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-tittle{
    
    font-weight: 800;
    color: #140101;
}
#what{
    padding: 30px 150px;
}
.section-tittle{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #ff0000;
}
.section-description{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #1a0101;
}
.javascript{
    height: 60px;
}
.reactjs{
    height: 60px;
}
.nodejs{
    height: 60px;
}
.mongodb{
    height: 60px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.6);
    
}
.skill:hover{
    transform: translateY(-10px);
    box-shadow: 4px 4px 3px 3px green;
}
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    
}

.footer p {
    margin: 0;
    font-size: 1rem;
    font-size: 1.5rem;
    background: linear-gradient(to right, transparent, rgb(62, 14, 83), transparent);
    text-align: center;
}

.footer .social-icons {
    margin: 10px 0;
   text-align: center;
   padding-bottom: 30px;
}

.footer .social-icons a {
    color:  #007bff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.footer .social-icons a:hover {
    color: #007bff;
    box-shadow: 0 0 50px 10px #007bff;
}

.footer::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, transparent, rgb(241, 234, 234), transparent);
}