/* nav releted style */
.header{
    background-color: #f5f5f5;
    padding: 20px 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 200px;
}
.nav-tittle{
    color: black;
    font-size: 45px;
    font-weight: 800;

}
span{
    color: #ff0000;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: cadetblue;
    font-size: 30px;
    
}
.button-primary{
    border-radius: 5px;
    background-color:#fD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;


}
.banner{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
    
}
.banner .profile-pic{
    width: 300px;
    height: 400px;
}
